
:root{
  margin: 0;
  padding: 0;
  --primary-color: #f9f6f8;
  --secondary-color: #CCCCCC;
  --secondary-off-color: #DDDDDD;
  --accent-color: #7c766d;
  --text-color: #637388;
  --border-color: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 70px;
  color: var(--accent-color);
}
h2 {
  font-size: 32px;
  color: var(--accent-color);
}

/*-------------------- HEADER CONTENT --------------------*/

header {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

header li {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 20px;
}

header h1 {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  padding: 12px;
  border-radius: 20px;
  background-color: var(--secondary-off-color);
  color: var(--accent-color); /* Color del texto, ajusta según sea necesario */
}

.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
}

.language-selector form {
  margin: 0;
}


.language-selector select:focus {
  outline: none;
  border-color: var(--accent-color);
}

.language-selector img {
  height: 20px;
  width: auto;
  vertical-align: middle;
  margin-right: 5px;
}

/*-------------------- MAIN CONTENT --------------------*/

main {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

/* homepage content */

.imagen-outfit {
  width: 700px  !important;
  height: auto;
}

.initial_title{
  font-size: 50px;
  text-align: center;
}

.first_display{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 20px;
}

.first_display table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.first_display tr {
  width: 100%;
  height: 100%;
  text-align: center;
}

.first_display td {
  padding-bottom: 50px;
}

.first_display table img{
  width: 70vw;
  min-width: 400px;
  height: auto;
}

/* outfits content */

.table_container table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.table_container th, .table_container td {
  padding: 10px;
  text-align: center;
}

.table_container th {
  border-bottom: 3px solid var(--border-color);
}

.table_container tr:nth-child(even) {
  background-color: var(--secondary-off-color);
}

/* contacts SPA content */

.contact-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 1.2em;
}

.contact-table th {
  background-color: var(--secondary-off-color);
}

.contact-table th, .contact-table td {
  border: 2px solid var(--secondary-off-color);
  padding: 10px;
  text-align: center;
}

.contact-buttons {
  text-align: center; /* Center aligns the content */
  margin-top: 20px; /* Adds some space above the buttons */
}

.contact-buttons button {
  margin: 5px; /* Adds space around each button */
}


/*-------------------- FOOTER CONTENT --------------------*/

footer {
  background-color: var(--border-color);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul{
  list-style: none;
  padding-left: 10px;
}

footer li {
  padding: 10px 10px 10px 0;
  margin-right: 20px;
  display: inline;
  color: var(--secondary-off-color);
}

footer a{
  color: var(--secondary-off-color);
}