<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>{{ titulo_pagina }}</title>
    </head>
    <body>
        <header>
	     <h1><a href="{% url 'pagina_principal' %}">Outfit Showroom</a></h1>
            <br>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'outfits' %}">Encuentra tus outfits!</a>
                    </li>
                    <li>
                        <a href="{% url 'estilos' %}">Estilos destacados</a>
                    </li>
                    <li>
                        <a href="{% url 'ocasiones' %}">Buscar prendas por ocasi&oacute;n </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block contenido %}{% endblock %}
        </main>
        <footer>
            <div class="footer_authors">
                <ul>
                    <li>Unai Igartua</li>
                    <li>Jorge Alcorta</li>
                    <li>Nicolás Llop</li>
                    <li>Iñigo Fernández-Sopeña</li>
                </ul>
            </div>
            <div class="footer_links">
                <ul>
                    <li><a target="_blank" href="https://github.com/INIGO-7/IWebOutfitShowroom">GitHub</a></li>
                    <li><a target="_blank" href="https://www.deusto.es/">Deusto</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>