<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>{{ titulo_pagina }}</title>
    </head>
    <body>
        <div id="header">
	     <h1><a href="/appOutfitShowroom">Outfit Showroom</a></h1>
            <br>
            <nav>
                <ul>
                    <li>
                        <a href="/appOutfitShowroom/outfits">Encuentra tus outfits!</a>
                    </li>
                    <li>
                        <a href="/appOutfitShowroom/estilos">Estilos destacados</a>
                    </li>
                    <li>
                        <a href="/appOutfitShowroom/ocasiones">Busca tus prendas </a>
                    </li>
                </ul>
            </nav>


        </div>
        <div id = "content">
            {% block contenido %}{% endblock %}
        </div>
        <footer>
            <div id="footer_authors">
                <ul>
                    <li>Unai Igartua</li>
                    <li>Jorge Alcorta</li>
                    <li>Nicolás Llop</li>
                    <li>Iñigo Fernández-Sopeña</li>
                </ul>
            </div>
            <div id="footer_links">
                <ul>
                    <li><a href="https://github.com/INIGO-7/IWebOutfitShowroom">GitHub</a></li>
                    <li><a href="https://www.deusto.es/"">Deusto</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>