{% extends "base.html" %}
{% load static %}
{% block contenido %}

<h2 class="initial_title" >Bienvenidos a OutfitShowRoom!</h2>

<div class="first_display">
	{% if ultimos_outfits %}
	<table>
		{% for outfit in ultimos_outfits %}
			<tr>
				<td>
					<a href="{% url 'detalle_outfit' outfit.id %}">{{ outfit.nombre }}</a><br><br>
					<a href="{% url 'detalle_outfit' outfit.id %}"><img alt="{{ outfit.imagen.name }}" src="{% static outfit.imagen.name %}"></a>
				</td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>No hay outfits creados.</p>
	{% endif %}
</div>

{% endblock %}