{% extends "base.html" %}

{% block titulo %} Detalles de la ocasion {% endblock %}
{% load static %}
{% block contenido %}
<h2>Detalles de la ocasión</h2>


{% if ocasion %}
    <h3>{{ ocasion.nombre}}</h3>
	<h3>Lista de outfits</h3>
	{% if outfits %}
		<ol>
		{% for e in outfits %}
			<li>
				<a href="{% url 'outfit' e.id %}">{{ e.nombre}}</a>
			</li>
		{% endfor %}
		</ol>
	{% else %}
		<p>No tiene outfits asociados.</p>
	{% endif %}
{% else %}
    <p>No existe esta ocasión.</p>
{% endif %}


{% endblock %}