{% extends "base.html" %}
{% load static %}
{%load i18n%}
{% block contenido %}

<h2>{% trans "Detalles de la ocasión" %}</h2>

{% if ocasion %}
    <h3>{{ ocasion.get_nombre}}</h3>
	<h3>{% trans "Lista de outfits" %}</h3>
	{% if ocasion.outfit_set.all %}
		<ol>
		{% for o in ocasion.outfit_set.all %}
			<li>
				<a href="{% url 'detalle_outfit' o.id %}">{{ o.get_nombre}}</a>
			</li>
		{% endfor %}
		</ol>
	{% else %}
		<p>{% trans "No tiene outfits asociados." %}</p>
	{% endif %}
{% else %}
    <p>{% trans "No existe esta ocasión." %}</p>
{% endif %}


{% endblock %}