{% extends "base.html" %}
{% load static %}
{%load i18n%}
{% block contenido %}
<h2>{% trans "Detalles del outfit" %}</h2>


{% if outfit %}
    <h3>{{ outfit.get_nombre}}</h3>

	<img  alt="{{ outfit.imagen.name }}"  src="{% static outfit.imagen.name %}" width="200" height="200">


	<p>{{ outfit.get_descripcion}}</p>

	<h3>{% trans "Lista de estilos" %}</h3>
	{% if outfit.estilos.all %}
		<ol>
		{% for e in outfit.estilos.all %}
			<li>
				<a href="{% url 'detalle_estilo' e.id %}">{{ e.get_nombre}}</a>
			</li>
		{% endfor %}
		</ol>
	{% else %}
		<p>{% trans "No tiene estilos asociados." %}</p>
	{% endif %}
    
    {% if outfit.ocasion %}
        <h3>{% trans "Ocasión: " %}</h3><a href="{% url 'detalle_ocasion' ocasion.id %}">{{outfit.ocasion}}</a>
    {% endif %}

{% else %}
    <p>{% trans "No existe este outfit." %}</p>
{% endif %}


{% endblock %}