{% extends "base.html" %}
{% load static %}
{%load i18n%}
{% block contenido %}
<h2>{% trans "Lista de outfits" %}</h2>

<br><br>
<div class="table_container">
	<table>
		<thead>
			<tr>
				<th>{% trans "Nombre" %}</th>
				<th>{% trans "Estilo" %}</th>
				<th>{% trans "Ocasion" %}</th>
				<th>{% trans "Precio €" %}</th>
			</tr>
		</thead>
		<tbody>
			{% if outfit_list %}
				{% for o in outfit_list %}
					<tr>
						<td>
							<a href="{% url 'detalle_outfit' o.id %}">{{ o.get_nombre }}</a>
						</td>
						<td>
							{% if o.estilos.all %}
								{% for e in o.estilos.all %}
									<a href="{% url 'detalle_estilo' e.id %}">{{ e.get_nombre }}</a>{% if not forloop.last %}, {% endif %}
								{% endfor %}
							{% else %}
								<span>{% trans "No hay estilos" %}</span>
							{% endif %}
						</td>
						<td>
							{% if o.ocasion %}
								<a href="{% url 'detalle_ocasion' o.ocasion.id %}">{{ o.ocasion.get_nombre }}</a>
							{% else %}
								<span>{% trans "No hay ocasion" %}</span>
							{% endif %}
						</td>
						<td>{{ o.get_precio }}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="3">{% trans "No hay outfits creadas." %}</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>

{% endblock %}