{%load i18n%}

<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>{{ titulo_pagina }}</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <header>
	     <h1><a href="{% url 'pagina_principal' %}">Outfit Showroom</a></h1>
            <br>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'outfits' %}"> {% trans "Encuentra tus outfits!" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'estilos' %}"> {% trans "Estilos destacados" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'ocasiones' %}"> {% trans "Buscar prendas por ocasión" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contactos' %}"> {% trans "Contactos" %}</a>
                    </li>
                </ul>
            </nav>

            <div class="language-selector">
                <form action="{% url 'set_language' %}" method="post" id="language-form">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <input type="hidden" name="language" id="language-input">
                    <ul>
                        <li>
                            <a href="#" onclick="changeLanguage('es')">
                                <img src="{% static 'img/es.png' %}" alt="ES" /> ES
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="changeLanguage('en')">
                                <img src="{% static 'img/en.png' %}" alt="EN" /> EN
                            </a>
                        </li>
                    </ul>
                </form>
            </div>

        </header>
        <main>
            {% block contenido %}{% endblock %}
        </main>
        <footer>
            <div class="footer_authors">
                <ul>
                    <li><a href="https://www.linkedin.com/in/unaiigartua/" target="_blank">Unai Igartua</a></li>
                    <li><a href="https://www.linkedin.com/in/jorge-alcorta-berasategui/" target="_blank">Jorge Alcorta</a></li>
                    <li><a href="https://www.linkedin.com/in/nicol%C3%A1s-llop-030978223/" target="_blank">Nicolás Llop</a></li>
                    <li><a href="https://www.linkedin.com/in/i%C3%B1igo-fern%C3%A1ndez-sope%C3%B1a-090564194/" target="_blank">Iñigo Fernández-Sopeña</a></li>
                </ul>
            </div>
            <div class="footer_links">
                <ul>
                    <li><a target="_blank" href="https://github.com/INIGO-7/IWebOutfitShowroom">GitHub</a></li>
                    <li><a target="_blank" href="https://www.deusto.es/">Deusto</a></li>
                </ul>
            </div>
        </footer>

        <!-- JAVASCRIPT -->
        <script>
            function changeLanguage(lang) {
                document.getElementById('language-input').value = lang;
                document.getElementById('language-form').submit();
            }
        </script>


    </body>
</html>